.DS_Store
Debug/
Release/
LD29.xcodeproj/project.xcworkspace/xcuserdata
LD29.xcodeproj/xcuserdata/Slin.xcuserdatad/xcdebugger
LD29.xcodeproj/xcuserdata/Slin.xcuserdatad/xcschemes/LD29.xcscheme
CleaningRobot.sdf
CleaningRobot.v12.suo
